body {
  margin: auto
}

h1, p {
  margin: 0;
}

.header-bg {
  /* background-color: #0b2b2e; */
  background-color: rgb(50, 167, 145);
  max-width: 1920px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
}

header h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.trybewarts-login {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 14px;
}

#email, #password {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
}

#button {
  border-radius: 4px;
  border-style: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#trybewarts-header-title {
  display: flex;
  font-family: Tangerine, cursive;
  font-size: 100px;
  color: #D1D56E;
}

.div-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

form #input-email, #input-name, #input-lastname {
  margin: 10px 0;
  margin-right: 6px;
  padding: 14px;
  border-radius: 4px;
  border: none;
  background-color: rgb(247, 247, 247);
}

form select {
  margin: 10px 6px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

form textarea {
  resize: none;
}

label {
  font-size: 18px;
  margin: 10px 0;
}

#label-family div {
  margin: 10px;
}


#front, #back, #full {
  margin: 4px 0;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: wrap;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#input-name {
  display: flex;
  width: 40%;
  margin-right: 5px;
}

#input-lastname {
  display: flex;
  width: 40%;
}

.div-form {
  display: flex;
  flex-wrap: wrap;
}

#input-email {
  display: flex;
  width: 40%;
  margin-right: 5px;
}

.container-check {
  display: flex;
  flex-direction: column;
}

#form-data {
  display: none;
  font-size: 18px;
}

#form-data p {
  border-bottom: rgb(160, 160, 160) solid 1px;
  margin: 0 auto;
  padding: 10px 40px 10px 10px;
}

footer {
  display: block;
  position: relative;
  width: auto;
  height: 100px;
  bottom: 0;
  text-align: center;
  background-color: #1b1b1b;
  color: white;
}

footer p {
  padding-top: 20px;
}